<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linux4fun.mapper.CategoryMapper">

	<select id="list" resultMap="getCategoryList">
		select id uid, name from category
	</select>
	<resultMap id="getCategoryList" type="Category">
		<result property="id" column="uid" />
	</resultMap>
</mapper>